<div class="jumbotron">
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>#</td>
            <td>Part</td>
            <td>Side</td>
            <td>Type</td>
            <td>Size (cm)</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>#</td>
            <td>Part</td>
            <td>Side</td>
            <td>Type</td>
            <td>Size (cm)</td>
        </tr>

        </tbody>
    </table>
</div>